{% extends '@Backend/base.html.twig' %}

{% set title = 'Dashboard' %}

{% block body %}

    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-3">
                <article class="ws-static-box ws-bg-red">
                    <div class="ws-caption">Pending orders</div>
                    <div class="ws-value">{{ dashboard.orders.pendingSize }}</div>
                </article>
            </div>

            <div class="col-sm-3">
                <article class="ws-static-box ws-bg-purple">
                    <div class="ws-caption">Processed orders</div>
                    <div class="ws-value">{{ dashboard.orders.processedSize }}</div>
                </article>
            </div>

            <div class="col-sm-3">
                <article class="ws-static-box ws-bg-yellow">
                    <div class="ws-caption">Open Questions</div>
                    <div class="ws-value">2</div>
                </article>
            </div>

            <div class="col-sm-3">
                <article class="ws-static-box ws-bg-green">
                    <div class="ws-caption">User online</div>
                    <div class="ws-value">10</div>
                </article>
            </div>

        </div>
    </div>

{% endblock %}