{% extends '@Backend/base.html.twig' %}

{% set title = 'Edit product' %}

{% block body %}

    <div class="card-deck-wrapper mb-3">
        <div class="card-deck align-items-center">
            <div class="card text-center card-outline-primary">
                <div class="card-block">
                    <img style="height: 100px;" src="data:image/png;base64,{{ product.image.toBase64 }}">
                </div>
            </div>

            {% for image in product.images %}
                <div class="card text-center">
                    <div class="card-block">
                        <img style="height: 100px;" src="data:image/png;base64,{{ image.toBase64 }}">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {{ form(productForm, {'title': 'Create Product', 'action': path('backend_product_create_submit')}) }}

{% endblock %}