{% extends '@Frontend/category.html.twig' %}

{% block title %}Join us{% endblock %}

{% block content %}

    <h4 class="card-title">Edit</h4>
    {{ form(customerForm, {'action': path('account_submit_personal_data')}) }}

{% endblock %}