<div class="col-md-3">
    <h5>Contact</h5>
    <div>Company Name</div>
    <div>company.name@example.com</div>
    <div>+41 12 123 12 12</div>
</div>
<div class="col-md-3">
    <h5>Help</h5>
    <div>FAQ</div>
    <div>Ordering process and customer account</div>
    <div>Redeeming vouchers</div>
    <div>Delivery and collection</div>
    <div>Returns and warranty</div>
    <div>Warranty Extensions</div>
    <div>The Community</div>
    <div>Live feed</div>
</div>
<div class="col-md-3">
    <h5>Location</h5>
</div>
<div class="col-md-3">
    <h5>Social Media</h5>
</div>