<div class="col-md-2">
    <form method="post" action="#" class="form-inline">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input id="search" type="text" class="form-control" placeholder="Search">
        </div>
    </form>
</div>
<div class="col-md-10">
    <img src="{{ asset('images/lazenby-computer.liquid.png') }}">
</div>