{% extends '@Frontend/category.html.twig' %}

{% block title %}Join us{% endblock %}

{% block content %}

    <h4 class="card-title">Registration</h4>
    {{ form(registrationForm, {'action': path('registration_submit')}) }}

{% endblock %}