{% extends '@Frontend/layout.header.footer.html.twig' %}
{% block title %}Welcome!{% endblock %}

{% block menuLeft %}
    {% embed '@Frontend/category.html.twig' %}{% endembed %}
{% endblock %}

{% block content %}
    {% embed '@Frontend/product.list.html.twig' %}{% endembed %}
{% endblock %}

{% block menuRight %}
    <div class="card">
        <h5 class="card-header"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping cart</h5>
        <div class="card-block">
            {% embed '@Frontend/shopping.cart.html.twig' %}{% endembed %}
        </div>
    </div>
{% endblock %}