{% extends 'base.html.twig' %}

{% block body %}
    {#<a class="btn btn-primary" href="{{ path('showProduct', {'productId': 1}) }}">Go to product 1</a>#}
    {#<a class="btn btn-primary" href="{{ path('showProduct', {'productId': 2}) }}">Go to product 2</a>#}
{% endblock %}