{% extends 'base.html.twig' %}

{% block title %}Product {{ product.id }}{% endblock %}

{% block body %}
    <div class="web-shop-product">
        <figure class="figure">
            <img src="{{ asset('images/noProduct.png') }}" class="figure-img img-fluid rounded"
                 alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">{{ product.name }}</figcaption>
        </figure>
    </div>
{% endblock %}