.web-shop-body {
    margin: 10px;
}

.web-shop-product img {
    border: solid 1px #333333;
}

.web-shop-product img:hover {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"
}