.ws-shopping-cart-items .ws-shopping-cart-item input {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #5bc0de;
    color: #5bc0de;
    background-image: none;
    background-color: transparent;
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
}

.ws-shopping-cart-item input {
    width: 3em;
    color: black;
    font-weight: bolder;
    padding-right: 0;
    padding-left: 0;
}

.ws-shopping-cart-item div:first-child {

}